<!-- index.html -->
<!--
author: Boostraptheme
author URL: https://boostraptheme.com
License: Creative Commons Attribution 4.0 Unported
License URL: https://creativecommons.org/licenses/by/4.0/
-->
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>NLP Final</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <!-- Global stylesheets -->
    <link href="{% static 'css/bootstrap/bootstrap.min.css'%}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'css/devicons/css/devicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
    <nav class=" navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <div class="nav-div">
            <h2 class="text-center">Finding Synonym</h2>
            <p class="subheading"> Finding Synonyms for a Given Word Sense (words with separate possible parts-of-speech and senses)
            </p>
            <form method="GET" class="nav-sub-div">
                <div class="box">
                    <div class="container-4">
                        <input type="text" id="search" name="search" placeholder="Search..." />
                        <button class="icon" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </nav>

    <div class="container-fluid p-0">
        <!--====================================================
                        Main
    ======================================================-->
        <section class="resume-section p-3 p-lg-5 ">
            <div class="row my-auto">
                <div class="col-12">
                    <h2 class="text-center">{{search}}</h2>
                    <div class="mb-5 heading-border"></div>
                </div>
                {% for key, value in dictionary.items %}
                <div class="resume-item col-md-12 col-sm-12 ">
                    <div class="card mx-0 p-4 mb-5" style="border-color: #9DD8CD; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.21);">
                        <div class=" resume-content mr-auto">
                            <h4 class="mb-3">Definition</h4>
                            <p> {{ value.def }}</p>
                            <h4 class="mb-3">Example</h4>
                            <p> {{ value.ex }}</p>
                            <h4 class="mb-3 ">Synonym</h4>
                            <div>
                                <div>
                                    {% for key2,value2 in value.lemma.items %}
                                    <div id="DIV1">
                                        <h5 class="specialh5">{{key2}}</h5>
                                    </div>
                                    <div id="DIV2">
                                        {% if value2 <= 5 %}
                                        <div class="progress-radial progress-5">
                                            <div class="overlay">{{value2}}</div>
                                        </div>
                                        {% elif value2 <= 10 %}
                                        <div class="progress-radial progress-10">
                                            <div class="overlay">{{value2}}</div>
                                        </div>
                                        {% elif value2 <= 15 %}
                                        <div class="progress-radial progress-15">
                                            <div class="overlay">{{value2}}</div>
                                        </div>
                                        {% elif value2 <= 20 %}
                                        <div class="progress-radial progress-20">
                                            <div class="overlay">{{value2}}</div>
                                        </div>
                                        {% elif value2 <= 25 %}
                                        <div class="progress-radial progress-25">
                                            <div class="overlay">{{value2}}</div>
                                        </div>
                                        {% elif value2 <= 30 %}
                                        <div class="progress-radial progress-30">
                                            <div class="overlay">{{value2}}</div>
                                        </div>
                                        {% elif value2 <= 35 %}
                                        <div class="progress-radial progress-35">
                                            <div class="overlay">{{value2}}</div>
                                        </div>
                                        {% elif value2 <= 40 %}
                                        <div class="progress-radial progress-40">
                                            <div class="overlay">{{value2}}</div>
                                        </div>
                                        {% elif value2 <= 45 %}
                                        <div class="progress-radial progress-45">
                                            <div class="overlay">{{value2}}</div>
                                        </div>
                                        {% elif value2 <= 50 %}
                                        <div class="progress-radial progress-50">
                                            <div class="overlay">{{value2}}</div>
                                        </div>
                                        {% elif value2 <= 55 %}
                                        <div class="progress-radial progress-55">
                                            <div class="overlay">{{value2}}</div>
                                        </div>
                                        {% elif value2 <= 60 %}
                                        <div class="progress-radial progress-60">
                                            <div class="overlay">{{value2}}</div>
                                        </div>
                                        {% elif value2 <= 65 %}
                                        <div class="progress-radial progress-65">
                                            <div class="overlay">{{value2}}</div>
                                        </div>
                                        {% elif value2 <= 70 %}
                                        <div class="progress-radial progress-70">
                                            <div class="overlay">{{value2}}</div>
                                        </div>
                                        {% elif value2 <= 75 %}
                                        <div class="progress-radial progress-75">
                                            <div class="overlay">{{value2}}</div>
                                        </div>
                                        {% elif value2 <= 80 %}
                                        <div class="progress-radial progress-80">
                                            <div class="overlay">{{value2}}</div>
                                        </div>
                                        {% elif value2 <= 85 %}
                                        <div class="progress-radial progress-85">
                                            <div class="overlay">{{value2}}</div>
                                        </div>
                                        {% elif value2 <= 90 %}
                                        <div class="progress-radial progress-90">
                                            <div class="overlay">{{value2}}</div>
                                        </div>
                                        {% elif value2 <= 95 %}
                                        <div class="progress-radial progress-95">
                                            <div class="overlay">{{value2}}</div>
                                        </div>
                                        {% else %}
                                        <div class="progress-radial progress-100">
                                            <div class="overlay">{{value2}}</div>
                                        </div>
                                        {% endif %}

                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
</body>

</html>
<!--
{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <title>NLP Final</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body>
    <div>
        <h1>NLP Final</h1>
        <form method="GET">
            <input type="text" name="search" placeholder="Input some word here" autocomplete="off">
            <input type="submit" value="Submit">
        </form>
    </div>

    <br/>
    <div>
        <b>{{search}}</b>
        <br/>
        <br/> {% for key, value in dictionary.items %}
        <div>{{ key }}
            <br/> lemma: {{ value.lemma }}
            <br/> definition: {{ value.def }}
            <br/> example: {{ value.ex }}
            <br/>
        </div>
        <br/> {% endfor %}</div>
</body>
-->
<!--</html>
<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <title>NLP Final</title>
    <style>
        body {
            background-color: lightyellow;
        }

        em {
            color: LightSeaGreen;
        }

        .form-control {
            display: block;
            width: 60%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .g-recap-button {
            position: absolute;
            right: 0;
            top: 0;
            height: 50px;
            width: 60px;
            text-transform: uppercase;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            background: #ef3349;
            border: 1px solid #ef3349;
            color: white;
            letter-spacing: 1px;
        }
    </style>
</head>

<body>
    <h1>NLP Final</h1>
    <form method="GET">
        Question:
        <input type="text" name="search" placeholder="Input some word here" autocomplete="off" class="form-control">
        <br/>
        <input type="submit" value="Submit" />
    </form>
    <br/> Word is
    <b>{{search}}</b>
    <br/>
    <br/> {% for key, value in dictionary.items %} {{ key }}
    <br/> lemma: {{ value.lemma }}
    <br/> definition: {{ value.def }}
    <br/> example: {{ value.ex }}
    <br/>
    <br/> {% endfor %}
</body>

</html>

{% for ans in dictionary %}
<p>{{ans}}</p>
{% endfor %}-->
